html{
	text-align: center;
	font-size: 10px;
	background: #3498DB;
}
body {
	font-size: 2rem;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
}
.clock{
	width: 30rem;
	height: 30rem;
	border: 20px solid #4F248C;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 2rem;
	-webkit-box-shadow: inset 10px 14px 42px 5px rgba(79,36,140,1);
	-moz-box-shadow: inset 10px 14px 42px 5px rgba(79,36,140,1);
	box-shadow: inset 10px 14px 42px 5px rgba(79,36,140,1);
}
.clock-face{
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px);

}
.hand{
	width: 50%;
	background: #FFFFCC;
	height: 6px;
	position: absolute;
	top: 50%;
	transform-origin: 99%;
	transform: rotate(90deg);
	transition: all 0.05s;
	-webkit-transition-timing-function: cubic-bezier(0.63, 1.7, 0.38, 1.84);
	-o-transition-timing-function: cubic-bezier(0.63, 1.7, 0.38, 1.84);
	transition-timing-function: cubic-bezier(0.63, 1.7, 0.38, 1.84);
}
.hour-hand{
	height:  10px;
}
.min-hand{
	height: 8px;
}
.second-hand{
	height: 6px;
}